a {
	color: rgb(236, 181, 53);
	text-decoration: underline;
}
a:visited {
	color: rgb(176, 128, 16);
}
a:hover {
	color: rgb(249, 230, 186);
	cursor: alias;
}
a:active {
	color: rgb(249, 230, 186);
}
html, body {
	font-family: "Times New Roman", Times, serif;
}
