html, body {
	background: rgb(71, 57, 116);
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 120%;
	margin: 0px;
}

html {
	/* IE and Edge */
	-ms-overflow-style: none;
	/* Firefox */
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	/* Chrome, Safari and Opera */
	display: none;
}

#headermenuNav {
	background: rgb(50, 43, 76);
}

#tc-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgb(50, 43, 76);
	color: #6c757d;
	text-align: center;
	font-size: 50%;
}

.bar {
	height: 4%;
	background-color: rgb(28, 24, 42);
}

.blankspace {
	height: 40%;
}

.tc_letter_header {
	text-align: center;
	color: rgb(52, 201, 235);
	font-size: 200%;
}

/* Links */
a {
	color: rgb(236, 181, 53);
	text-decoration: underline;
}

a:visited {
	/* color: rgb(176, 128, 16); */
	color: rgb(226, 161, 43);
}

a:hover {
	color: rgb(249, 230, 186);
	cursor: pointer;
}

a:active {
	color: rgb(249, 230, 186);
}

/* Programs */
#progCanvas {
	margin: 2% 0% 2% 0%;
	border: 5px inset grey;
}
