html, body {
	    font-family: "Times New Roman", Times, serif;
}
#blankspace {
	width: 100%;
	height: 40%;
}
/* Front Page Header */
.centering {
	display: flex;
	align-items: center;
	justify-content: center;
}
.full {
	width: 100%;
	height: 100%;
}
.front-header {
	font-size: 400%;
	color: white;
	font-weight: normal;
}
/* Header Menu */
.menu {
	z-index:1;
	padding: 10px 16px;
	background: rgb(50, 43, 76);
	color: #f1f1f1;
	width: 100%;
}
.button {
	margin: 10px;
	padding: 5px;
	background-color: rgb(33, 29, 51);
}
.sticky {
	margin: 0%;
	position: fixed;
	top: 0;
}
/* Favicon */
#favicon {
	z-index: 2;
	position: fixed;
	height: 6%;
	right: 0.5%;
	top: 0.1%;
}
/* Badges */
iframe#last_updated {
	border: 0px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	bottom: 0%;
	left: 0%;
	width: auto;
	height: 20px;
}
/* Blog Text Formatting */
.tc_letter {
	text-align: left;
	margin-left: 2%;
	margin-right: 2%;
}
.tc_letter_header {
	text-align: center;
	color: rgb(52, 201, 235);
	font-size: 200%;
}
