:root {
	--main-color: rgb(71, 57, 116);
	--hero-color: rgb(28, 24, 42);
	--periphery-color: rgb(50, 43, 76);
	--standout-color: rgb(52, 201, 235);
}

html,
body {
	background: var(--main-color);
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 120%;
	margin: 0px;
}

html {
	/* IE and Edge */
	-ms-overflow-style: none;
	/* Firefox */
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	/* Chrome, Safari and Opera */
	display: none;
}

.hero {
	background: var(--hero-color);
}

/* Links */
a {
	color: rgb(236, 181, 53);
	text-decoration: underline;
}

a:visited {
	color: rgb(226, 161, 43);
}

a:hover {
	color: rgb(249, 230, 186);
	cursor: pointer;
}

a:active {
	color: rgb(249, 230, 186);
}

a.hash {
	font-size: 25%;
}

/* Menus */
.dropdown-menu {
	background: var(--periphery-color);
}

.navbar-brand,
.navbar-brand:visited,
.navbar-brand:hover,
.navbar-brand:active {
	background: var(--periphery-color);
	color: white;
}

.dropdown-item,
.dropdown-item:visited,
.nav-link,
.nav-link:visited {
	background: var(--periphery-color);
	color: rgba(255, 255, 255, .55);
}

.dropdown-item:hover,
.dropdown-item:active,
.nav-link:hover,
.nav-link:active {
	background: var(--periphery-color);
	color: rgba(255, 255, 255, .75);
}

#headermenuNav {
	background: var(--periphery-color);
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: var(--periphery-color);
	color: #6c757d;
	text-align: center;
	font-size: 50%;
}

/* Other */
.bar {
	height: 4%;
	background-color: var(--hero-color);
}

.blankspace {
	height: 40%;
}

.letter-header {
	text-align: center;
	color: var(--standout-color);
	font-size: 200%;
}

/* Programs */
#progCanvas {
	margin: 2% 0% 2% 0%;
	border: 5px inset grey;
}